footer.footer__wrapper {
  margin-top: auto;
}

#footer,
footer {
  @include font-size(1rem);

  &,
  a {
    color: $theme-color-1;
  }

  p {
    line-height: 1.15;
  }

  .botaoFooter {
    border-radius: 30px;
    color: $white;
    width: 180px;
    cursor: pointer;
    height: 40px;
    background: transparent;
    border: 1px solid $white;
    transition: all 250ms ease-in-out;

    &:hover {
      color: $theme-color-1;
      background-color: $white;
    }
  }

  .news-footer {
    background: $theme-color-2;
    color: white;
  }

  .inputletter {
    border-radius: 25px;
    border: 1px solid $theme-color-1;
    width: 100%;
    margin-bottom: 2px;
    padding: 5px 20px !important;
    margin-right: 75px;
  }

  .copyright {
    font-size: 12px;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .subfooter {
    background-color: $theme-color-1;
    color: #fff7f7 !important;

    h5 {
      font-size: 0.975em;
    }
  }

  .social-media {
    > a {
      &:not(:last-child) {
        margin-right: 34px;
      }

      &:hover {
        color: $theme-color-3 !important;
      }
    }
  }
}

#footer {
  p, a.mailto {
    @include font-size(14px);

    i {
      @include font-size(16px);
    }
  }
}

.btn-whatsapp-pulse {
	background-color: #25d366;
	color: #fff!important;
	position: fixed;
	bottom: 100px;
	right: 50px;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 0;
	padding: 35px;
	text-decoration: none!important;
	border-radius: 50%;
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

.btn-whatsapp-pulse:hover {
	background-color: #23b359
}

@-webkit-keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(37, 211, 102, .5)
	}
	80% {
		box-shadow: 0 0 0 14px rgba(37, 211, 102, 0)
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(37, 211, 102, .5)
	}
	80% {
		box-shadow: 0 0 0 14px rgba(37, 211, 102, 0)
	}
}

.btn-whatsapp-pulse-border::before {
	content: "";
	position: absolute;
	border-radius: 50%;
	padding: 25px;
	border: 5px solid #25d366;
	opacity: .75;
	-webkit-animation-name: pulse-border;
	animation-name: pulse-border;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

@-webkit-keyframes pulse-border {
	0% {
		padding: 25px;
		opacity: .75
	}
	75% {
		padding: 50px;
		opacity: 0
	}
	100% {
		opacity: 0
	}
}

@keyframes pulse-border {
	0% {
		padding: 25px;
		opacity: .75
	}
	75% {
		padding: 50px;
		opacity: 0
	}
	100% {
		opacity: 0
	}
}